<!DOCTYPE html>
<HTML>

{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
	{% block header %}
		<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	{% endblock %}
    <script src="{% static "jquery-1.12.2.min.js" %}" type="text/javascript"></script>
    <script src="{% static "reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "style.css" %}" type="text/css" media="screen" />
    {% block extra_head %}{% endblock %}
</head>
</head>

<body>
    {% block content %}
    {% endblock %}
    {% block extra_body %}{% endblock %}
</body>

</HTML>