@font-face {
    font-family: BPMono;
    src: url(C:/Users/Aleksei_Barzenkov/Desktop/dev/Flakelord_frontend/fonts/BPmono.ttf);
}

@font-face {
    font-family: UbuntuMono-B;
    src: url(C:/Users/Aleksei_Barzenkov/Desktop/dev/Flakelord_frontend/fonts/UbuntuMono-B.ttf);
}

@font-face {
    font-family: UbuntuMono-BI;
    src: url(C:/Users/Aleksei_Barzenkov/Desktop/dev/Flakelord_frontend/fonts/UbuntuMono-BI.ttf);
}
