html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  background-color: #000;

}
h3 {
    font-family: monospace;
    color: #dbede3;
    padding-bottom: 40px;
}

a {
    font-family: monospace;
    color: #dbede3;
    padding: 10px;
}

input {
    background-color: #414850;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    width: 200px;
    line-height: 20px;
    color: white;
    font-family: monospace;
}

label {
    font-family: monospace;
    width: 200px;
    text-align: left;
    color: #dbede3;
    padding-top: 15px;
}

button {
    border: none;
    background-color: #4d5d62;
    margin-top: 50px;
    width: 120px;
    height: 40px;
    color: #dbede3;
    font-family: monospace;
}

.wrapper {
    display: grid;
    justify-content: center;
    height: 100%;
}

.auth_form {
    border: 1px solid #20282b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    flex-direction: column;
}
.error-list {
    margin: 20px;
    color: #e16666;
}

