{% extends 'base.html' %}

{% load staticfiles %}

{% block header %}
	{{ block.super }}
    <link rel="stylesheet" href="{% static 'game.css' %}">
    <script src="{% static 'game.js' %}"></script>
    <script src="{% static 'reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'jquery-1.12.2.min.js' %}"></script>
{% endblock %}

{% block content %}
    <div id='game-wrapper'>
        <div id="game-table">
            <div id="game-table-menu">
                <a href="#" id="button-quit" data-url="{% url 'game:menu' %}">quit</a>
            </div>
            <div>
                <div id="terminal">
                </div>
                <form id="chat-form">
                    <input></input>
                    <button>>>></button>
                </form>
            </div>
            <canvas id='cnvs' data-game-id="{{ game_id }}" tabindex="1"></canvas>
        </div>
    </div>
{% endblock %}

