{% extends 'base.html' %}

{% load static %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'game.css' %}">
    <script src="{% static 'reconnecting-websocket.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'game.js' %}"></script>
    <script src="{% static 'sockets.js' %}"></script>
{% endblock %}

{% block content %}

    <ul class="rooms">
        {% for room in rooms %}
            <li class="room-link" data-room-id="{{ room.id }}">{{ room }}</li>
        {% empty %}
            <p class="empty">No rooms defined</a>?</p>
        {% endfor %}
    </ul>

    <div id="chats">
    </div>

    <center>
        <canvas id='cnvs'></canvas>
    </center>

{% endblock %}
