html, body {
    width:  100%;
    height: 100%;
    margin: 0px;
    background-color: black;
}

#cnvs {
    height: 800px;
    width:  1295px;
 /*   height: 1000px;
    width:  1900px;*/
    /*border: 1px solid gray;*/

      top: 0;
      left: 0;

      box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}