.clearGrid, .wall, .monstr, .person {
    width: 1.5vh;
    height: 1.5vh;
    background-color: black;
    margin: 1px;
}
.wall {
    background-color: grey;
}
.monstr {
    background-color: red;
}
.person {
    background-color: blue;
}
